{% extends 'base.html' %}

{% block tittle %}
    Editar Solicitud de Cita
{% endblock tittle %}


{% block content %}
{% load crispy_forms_tags %}

<div class="col-5 ol-md-3 offset-md-3 p-md-5 ">
    <div class="card">
        <div class="card-body">
            <form action="" method="post">
                {% csrf_token %}
                <label>1. Nombre del secretario quien lo realiza:</label>
                <input type="text" value="{{ user.nombres }}" disabled name="secretario">
                <label>2. Modifique los siguientes datos:</label>
                    
                {{ form | crispy}}

                <div class="d-flex justify-content-end">
                    <a class="btn btn-secondary" href='{% url "solicitudCita" %}' value="Cancelar">Cancelar</a>
                    &nbsp;
                    <input type="submit" value="Guardar" class="btn btn-primary">
                </div>
            </form>

        </div>
    </div>
</div>
    
{% endblock content %}
    
    