{% extends 'base.html' %}

{% block head %}
<style>
.parent {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
</style>

{% endblock head %}
    
{% block tittle %}
    Agenda Inmobiliaria - Domus 2.0
{% endblock tittle %}

{% block content %}
<div class="d-flex align-items-center justify-content-center p-4">
    <div class="card text-center" style="width: 80rem;">
      <div class="card-body">
        <h5 class="card-title">Actividades</h5>
        <h6 class="card-subtitle mb-2 text-muted">Filtre una fecha, y verifique si tiene actividades programadas.</h6>
        <div class="d-flex justify-content-center">

            <form action="{% url 'filtrarCitasInmobiliaria' %}" method="GET">
                <input type="date" name="date" required>
                <input type="submit" value="Enviar" class="btn btn-primary">
            </form>
            &nbsp;  
            <form action="{% url 'agendaInmobiliaria' %}" method="GET">
                <input type="submit" value="Ver todas las citas" class="btn btn-secondary">
            </form>

        </div>
        <hr>
        {% if citas %}
          
            <table class="table table-striped table-hover table-resposive-sm">
                <tr>
                    <th> Fecha </th>
                    <th> Hora </th>
                    <th> Cliente N° </th>
                    <th> Nombre </th>
                    <th> Apellido </th>
                    <th> Propiedad  </th>
                    <th> Ubicacion </th>
                    <th> Email </th>
                    <th> Opciones </th>
                </tr>
                
                    {% for cita in citas %}
                        <tr>
                            <td>{{ cita.f_cita }}</td>
                            <td>{{ cita.h_cita }}</td>
                            <td>{{ cita.client_solicita_cita.id }}</td>
                            <td>{{ cita.client_solicita_cita.nombres }}</td>
                            <td>{{ cita.client_solicita_cita.apellidos }}</td>
                            <td>{{ cita.propiedad_involucrada }}</td>
                            <td>{{ cita.propiedad_involucrada.direccion }}</td>
                            <td>{{ cita.client_solicita_cita.email }}</td>
                            
                            <td>
                                <a class="btn btn-info" href="{% url 'modificarCitaAgendada' cita.nro_cita %}">Atender cita</a>
                            </td>
                        </tr>
                    {% endfor %}
                
            </table>
          {% else %}
          <h3 class="text text-center">No existen citas actualmente.</h3>
          {% endif %}
      </div>
    </div>
  </div>
               


{% endblock content %}
    
    