{% extends 'base.html' %}

{% block tittle %}
    Catalogo de Propiedades - Domus 2.0
{% endblock tittle %}


{% block content %}
{% if propiedades %}
  <h1>Catalogo</h1>

    <div class="card">
        <div class="d-flex flex-wrap justify-content-center">
            {% for p in propiedades %}
            <div class="card p-2 m-2" style="width: 25rem;">
                <img src="{{ p.ruta_pd.url }}" class="card-img-top" style="height: 150px;">
                <div class="card-body">
                    <h5 class="card-title">{{ p.id_propiedad_documento.get_tipo_propiedad_display }}</h5>
                    <a>{{ p.id_propiedad_documento.id_ciudad_propiedad.nombre_ciudad }}, {{ p.id_propiedad_documento.id_ciudad_propiedad.id_provincia_ciudad.nombre_provincia }}</a><br>
                    <p class="text-secondary">{{ p.id_propiedad_documento.direccion }}</p>
                    <a>Estado de Propiedad: {{ p.id_propiedad_documento.get_estado_propiedad_display }}</a><br>
                    <a>Dueño de Propiedad: {{ p.id_propiedad_documento.id_dueño}} </a><br>
                    <p>Metros Cuadrados: {{ p.id_propiedad_documento.metros_cuadrados }}</p>

                    <h4>${{ p.id_propiedad_documento.precio_sugerido }}</h6>

                    {% if p.id_propiedad_documento.id_adquiere_o_alquila is None %}
                    <a class="btn btn-primary">Disponible</a>
                    {% else %}
                    <a class="btn btn-danger">No Disponible</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% include 'paginator.html' %}
{% else %}
<h3 class="text text-center p-2">No existen catalogos de propiedades actualmente.</h3>

{% endif %}

{% endblock content %}
