{% extends 'base.html' %}


{% block tittle %}
    Agregar nueva Cita
{% endblock tittle %}
    
{% block content %}
{% load crispy_forms_tags %}
{% include 'navbar.html' %}
<div class="row">
        <div class="col-5 ol-md-3 offset-md-3 p-md-5 ">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        
                        {{ form | crispy }}
                        
                        <div class="d-flex justify-content-end">
                            <input type="reset" value="Cancelar" class="btn btn-secondary">
                            &nbsp;
                            <input type="submit" value="Guardar" class="btn btn-primary">
                        </div>
                    </form>

                </div>
            </div>
        </div>
        
    </div>
{% endblock content %}
    