{% load static %}
{% if user.is_authenticated %}
<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        {% if user.tipo_usuario == 'ES' %}
      <a class="navbar-brand text-light">Secretaria > </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-light">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'solicitudCita' %}">Solicitud de Citas</a>
                </li>
                <li>
                  <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      Agenda
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url 'agenda' %}">Ver Agenda</a></li>
                      <li><a class="dropdown-item" href="{% url 'agendarCita' %}">Agendar nueva cita</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
              <a class="navbar-brand" href="#">
                <img src="{% static 'img/secretario.png' %}" width="30" height="24">
              </a>
              <a class="navbar-brand">{{ user.username }}</a>
              <a class="btn btn-danger" href="{% url 'logout' %}">Salir</a></button>
              {% elif user.tipo_usuario == 'EAI' %}
              <a class="navbar-brand" href="#">Agente Inmobiliario > </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Agenda</a>
                        </li>
                            <button type="button" class="btn btn-success">Catalogo Propiedades</button>
                    </ul>
                      <a class="navbar-brand" href="#">
                        <img src="{% static 'img/agente.png' %}" width="30" height="24">
                      </a>
                      <a class="navbar-brand">{{ user.username }}</a>
                      <button type="button" class="btn btn-danger" ><a class="text-start" style="text-decoration: none; color:white;"href="{% url 'logout' %}">Salir</a></button>
            {% endif %}
        </div>
      
    </div>
  </nav>
{% endif %}  